#home {
	h2 {
		width: 100%;
		font-size: 45px;
		color: #37cfa2;
		@media screen and (max-width: 1200px) { font-size: 32px; }
	}
	#houses {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.house {
				position: relative;
				max-width: 300px;
				width: 100%;
				margin-bottom: 50px;
				.photo {
					width: 100%;
					height: 450px;
				}
				&:nth-of-type(1) .photo { background: url('../img/property_1.jpg') center/cover; }
				&:nth-of-type(2) .photo { background: url('../img/property_1.jpg') center/cover; }
				&:nth-of-type(3) .photo { background: url('../img/property_1.jpg') center/cover; }
				h3 {
					font-size: 22px;
					line-height: 2rem;
					margin: 15px 0;
				}
				p {
					color: gray;
					font-weight: 400;
					line-height: 1.5rem;
					margin: 10px 0;
				}
				&::before {
					content: '';
					position: absolute;
					left: 0;
					bottom: -15px;
					z-index: -1;
					width: 100%;
					height: 100%;
					background-color: black;
					opacity: 0;
					@include baseTransition(.3s);
				}
				&>* {
					position: relative;
					left: 0;
					@include baseTransition(.3s);
				}
				&:hover>*:not(a) {
					color: white;
					left: 50px;
				}
				&:hover::before {
					opacity: 1;
					left: 20px;
				}
			}
		}
	}
	#agents {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 100px;
			&>*:not(.agent) { width: 100%; }
			.agent {
				max-width: 350px;
				width: 100%;
				background-color: #37cfa2;
				margin-bottom: 20px;
				>*:not(.photowrapper) { padding-left: 15px; }
				.photowrapper {
					width: 100%;
					height: 350px;
					overflow: hidden;
					.photo {
						width: 100%;
						height: 100%;
						transition: $baseTransition;
					}
				}
				&:nth-of-type(1) .photo { background: url('../img/person_1.jpg') center/cover; }
				&:nth-of-type(2) .photo { background: url('../img/person_1.jpg') center/cover; }
				&:nth-of-type(3) .photo { background: url('../img/person_1.jpg') center/cover; }
				h3 { font-size: 16px; }
				p { font-weight: 400; }
				&:hover .photo { transform: scale(1.1); }
			}
		}
	}
	#work {
		background-color: #37cfa2;
		padding: 50px 0;
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			&>h2 {
				color: inherit;
				text-align: center;
			}
			.workdata {
				position: relative;
				max-width: 250px;
				width: 100%;
				text-align: center;
				i { font-size: 42px; }
			}
			.separator {
				width: 100px;
				height: 1px;
				background-color: black;
				@media screen and (max-width: 1200px) { display: none; }
			}
		}
	}
	#newsevents {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 50px;
			&>h2 { text-align: center; }
			.news {
				max-width: 350px;
				width: 100%;
				margin-bottom: 50px;
				.photo {
					width: 100%;
					height: 350px;
				}
				span {
					font-size: 14px;
					color: #adadad;
					&:not(:last-of-type)::after {
						content: '•';
						margin: 10px;
					}
					a {
						color: #37cfa2;
						@include baseTransition(.3s);
						&:hover { color: green; }
					}
				}
				&:nth-of-type(1) .photo { background: url('../img/img_1.jpg') center/cover; }
				&:nth-of-type(2) .photo { background: url('../img/img_1.jpg') center/cover; }
				&:nth-of-type(3) .photo { background: url('../img/img_1.jpg') center/cover; }
				h3 { font-size: 16px; }
				p { font-weight: 400; }
			}
		}
	}
	#contact {
		background-color: #fafafa;
		padding: 50px 0 100px 0;
		margin-bottom: 0;
		@media screen and (max-width: 1200px) { padding-bottom: 50px; }
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			&>h2 {
				text-align: center;
				margin-bottom: 80px;
			}
			strong { font-weight: 500; }
			&>*:not(h2) { background-color: white; }
			@media screen and (max-width: 1200px) {
				flex-direction: column;
				align-items: center;
			}
			#form {
				max-width: 600px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
				@media screen and (max-width: 1200px) { flex-direction: column; }
				padding: 50px 50px;
				h3 {
					width: 100%;
					font-size: 24px;
					margin-bottom: 40px;
				}
				>div {
					width: 100%;
					display: flex;
					flex-direction: column;
					margin-bottom: 20px;
					&:nth-of-type(1), &:nth-of-type(2) {						
						@media screen and (min-width: 1200px) { width: 45%; }
					}
				}
				label {
					font-family: "Roboto";
					font-weight: 400;
					margin-bottom: 10px;
				}
				input, textarea {
					line-height: 2.15rem;
					border-radius: 5px;
					border: 1px solid #d4d4d4;
				}
				textarea {
					padding: 10px;
					line-height: 1rem;
				}
				@media screen and (max-width: 1200px) { margin-bottom: 50px; }
			}
			#info {
				display: flex;
				flex-direction: column;
				max-width: 400px;
				width: 100%;
				padding: 20px;
				color: #525252;				
				&>* { padding-bottom: 15px; }
				address {
					font-style: normal;
					color: gray;
					font-weight: 400;
				}
				@media screen and (max-width: 1200px) { max-width: 600px; }
			}
		}
	}
}
